#container {
    display: table;
    height: 100%;
}

#translation-text {
    display: table-cell;
    vertical-align: middle;
    align: right;
    font-family: sans-serif;
    font-size: 128pt;
    white-space: nowrap;
}
