#container {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

#content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 64pt;
    white-space: nowrap;
}

#scores {
    margin-top: 80px;
    margin-bottom: -80px;
    font-family: 'Lato', sans-serif;
}
#prompt {
  font-family: 'Lato', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}
