<html lang="en">
  <head>
    <title>ASL Tutor</title>
    <link rel="stylesheet" href="static/splash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    </script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container">
      <div id="modal">
        <img width="600px" src="static/asllogo.png">
        <div>
          <p class="lato">Learn sign language the fun way </p>
          <a class="lato extra-top-margin btn btn-lg btn-primary" href="/">Play now</a>
        </div>
      </div>
    </div>
  </body>
</html>
