<html lang="en">
  <head>
    <title>Sign Language Translator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css">

    <script>
      var chars = 'abcdfghijlmorstvwxyz';
      var user_score = 0;
      $(document).ready(function() {

        var start_time = new Date().getTime()/1000;
        var asl_interval = setInterval(function() {
          $.get('/current', '', function(data, textStatus, jqXHR) {
            if (data.new) {
              var goal = $('#prompt').attr('class');
              if (data['symbol'] == goal) {
                var ndx = Math.floor(Math.random() * chars.length);
                if (chars[ndx] == goal) {
                  ndx = (ndx + 1) % chars.length;
                }

                var nextChar = chars[ndx];
                var newText = 'Great job! Now try "' + nextChar + '"';
                $('#prompt').attr('class', nextChar);
                $('#realimage').attr('src', 'static/asl/' + nextChar + '.gif');
                user_score += 100;
                $('#user_score').text('Score: ' + user_score);
              } else {
                var newText = 'Not quite; try again!';
              }
              $('#prompt').text(newText);

            }
            function sleep(miliseconds) {
              var currentTime = new Date().getTime();
              while (currentTime + miliseconds >= new Date().getTime()) {}
            }
            sleep(1000);

            if(new Date().getTime()/1000 - start_time >= 10){
              clearInterval(asl_interval);
              game_over_screen();
            }
          });
        }, 200);
      });

      function game_over_screen(){
        $("#container").fadeOut();
        $("#scores").fadeOut();
        $('#point_amount').text(user_score.toString());
        $("#myModal").modal('show');
      }

      function submit_score(name){
        console.log(name);
        $.post('score', {'score': user_score, 'user': name});
        $.get('scores', '', function(scores){console.log(scores)});
      }

    </script>
  </head>
  <body>
    <div id="scores">
      <h3 class="text-center"><span id="user_score" class="label label-default">Score: 0</span></h3>
      <table class="table">
        <tr></tr>
      </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Game Over</h4>
          </div>
          <div class="form-group">
            <div class="modal-body">
              <p>You scored <span id="point_amount"></span> points.</p>
              <p>What is your name?</p>
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit_score(result.name)">Submit</button>
            </div>
            </div>
          </div>
        </div>
      </div>

      </div>

    <table class="table hidden">
      <tr>
        <td>Matt</td>
        <td>10000</td>
      </tr>
      <tr>
        <td>Sam</td>
        <td>7000</td>
      </tr>
    </table>

    <div id="container">
      <div class="lato" id="content">
        <div id="image"><img id="realimage" width="500px" src="static/asl/b.gif"></div>
        <div id="prompt" class="b">Make a b</div>
      </div>
    </div>
  </body>
</html>
