<html lang="en">
  <head>
    <title>Sign Language Translator</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        var user_score = 0;
        window.setInterval(function() {
          $.get('/current', '', function(data, textStatus, jqXHR) {
            if (data.new) {
              var goal = $('#prompt').attr('class');
              if (data['symbol'] == goal) {
                var nextChar = String.fromCharCode(0x61 + Math.random() * (0x7A-0x61+1));
                var newText = 'Great job! Now try "' + nextChar + '"';
                $('#prompt').attr('class', nextChar);
                $('#realimage').attr('src', 'static/asl/' + nextChar + '.gif');
                user_score += 100;
                $('#user_score').text('Score: ' + user_score);
              } else {
                var newText = 'Not quite; try again!';
              }
              $('#prompt').text(newText);

            }
            function sleep(miliseconds) {
              var currentTime = new Date().getTime();
              while (currentTime + miliseconds >= new Date().getTime()) {}
            }
            sleep(1000);
          });
        }, 200);
      });
    </script>
  </head>
  <body>
    <div id="scores">
      <h3 class="text-center"><span id="user_score" class="label label-default">Score: 0</span></h3>
    </div>
    <div id="container">
      <div class="lato" id="content">
        <div id="image"><img id="realimage" width="500px" src="static/asl/b.gif"></div>
        <div id="prompt" class="b">Make a b</div>
      </div>
    </div>
  </body>
</html>
